/* 主内容区域 */
.main-content {
  background-color: #F2F2F2;
}
/* 底部区域 */
.footer {
  background-color: #fff !important;
}

/* 公共样式 */
.uploadBtn {
  display: block;
  margin-top: 5px;
}
.upload_img_list img {
  width: 50px;
  margin-right: 10px;
}

/* layui css 重置 */
.layui-card > .layui-card-header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}
.layui-table-cell {
  height: auto !important;
 }