/* 主内容区域 */
.main-content {
  background-color: #F2F2F2;
}
/* 底部区域 */
.footer {
  background-color: #fff !important;
}
/* layui css 重置 */
.layui-card > .layui-card-header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}