/* 主内容区域 */
.main-content {
  background-color: #F2F2F2;
}
/* 底部区域 */
.footer {
  background-color: #fff !important;
}

/* 品牌管理页面 */
#editIconUpload, #addIconUpload {
  margin-top: 5px;
}

/* layui css 重置 */
.layui-card > .layui-card-header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}
.layui-table-cell {
  height: auto !important;
 }