        </div>
        <div class="layui-footer footer">
            © 许铭聪 - 1640225146
        </div>
    </div>
    <script src="__PUBLIC__/home/js/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__/admin/layui.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/order.js"></script>
    <script src="__PUBLIC__/admin/js/brand.js"></script>
    <script src="__PUBLIC__/admin/js/classify.js"></script>
    <script src="__PUBLIC__/admin/js/member.js"></script>
    <script src="__PUBLIC__/admin/js/publish.js"></script>
    <script src="__PUBLIC__/admin/js/pdlist.js"></script>
    <script src="__PUBLIC__/admin/js/admin_user.js"></script>
</body>

</html>