<div class="layui-header">
    <div class="layui-logo">Jx-Shop管理后台</div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">订单管理</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">商品管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">发布商品</a></dd>
                <dd><a href="javascript:;">商品列表</a></dd>
                <dd><a href="javascript:;">商品分类</a></dd>
                <dd><a href="javascript:;">品牌管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">用户管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">会员用户</a></dd>
                <dd><a href="javascript:;">管理员用户</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="__PUBLIC__/admin/images/avatar.jpg" class="layui-nav-img">
                {$Think.session.user_name}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="{:U('Logout/do')}">退出</a></li>
    </ul>
</div>