<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item {:$Think.CONTROLLER_NAME === 'Order' ? 'layui-this': ''}"><a href="{:U('Order/index')}">订单管理</a></li>
            <li class="layui-nav-item {:$Think.CONTROLLER_NAME === 'Product' ? 'layui-nav-itemed': ''}">
                <a class="" href="javascript:;">商品管理</a>
                <dl class="layui-nav-child">
                    <dd class="{:$Think.ACTION_NAME === 'publish' ? 'layui-this': ''}"><a href="{:U('Product/publish')}">发布商品</a></dd>
                    <dd class="{:$Think.ACTION_NAME === 'list' ? 'layui-this': ''}"><a href="{:U('Product/list')}">商品列表</a></dd>
                    <dd class="{:$Think.ACTION_NAME === 'classify' ? 'layui-this': ''}"><a href="{:U('Product/classify')}">商品分类</a></dd>
                    <dd class="{:$Think.ACTION_NAME === 'brand' ? 'layui-this': ''}"><a href="{:U('Product/brand')}">品牌管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item {:$Think.CONTROLLER_NAME === 'User' ? 'layui-nav-itemed': ''}">
                <a href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd class="{:$Think.ACTION_NAME === 'member' ? 'layui-this': ''}"><a href="{:U('User/member')}">会员用户</a></dd>
                    <dd class="{:$Think.ACTION_NAME === 'admin' ? 'layui-this': ''}"><a href="{:U('User/admin')}">管理员用户</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>