<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item"><a href="">订单管理</a></li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">商品管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">发布商品</a></dd>
                    <dd><a href="javascript:;">商品列表</a></dd>
                    <dd><a href="javascript:;">商品分类</a></dd>
                    <dd><a href="javascript:;">品牌管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">会员用户</a></dd>
                    <dd><a href="javascript:;">管理员用户</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>