<div class="searchWrapper">
  <div class="container content dpFlex">
    <img src="__PUBLIC__/home/images/logo.png" width="120" />
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="请输入商品" aria-describedby="sizing-addon1">
      <span class="input-group-addon b-orange bd-orange" id="sizing-addon1">
        <span class="glyphicon glyphicon-search c-white" aria-hidden="true"></span>
      </span>
    </div>
  </div>
  <div class="container">
    <div class="condition dpFlex">
      <span class="title">类别</span>
      <div class="tags dpFlex">
        <span class="label label-primary">全部</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
      </div>
    </div>
    <div class="condition dpFlex">
      <span class="title">品牌</span>
      <div class="tags dpFlex">
        <span class="label label-primary">全部</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
        <span class="label label-default">Default</span>
      </div>
    </div>
  </div>
</div>