<include file="Public/header" />
<div class="product-brand" style="padding: 15px;">
  <div class="layui-card">
    <div class="layui-card-header">
      <span>品牌管理</span>
      <button type="button" id="addBrandBtn" class="layui-btn layui-btn-sm">
        <i class="layui-icon">&#xe608;</i> 添加品牌
      </button>
    </div>
    <div class="layui-card-body">
      <table id="brandList" lay-filter="productBrandTb"></table>
      <script type="text/html" id="brandBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
      <script type="text/html" id="brandTpl">
        <img src="__BRAND__{{d.icon}}" style="width: 50px;" />
      </script>
    </div>
  </div>
</div>
<include file="Public/footer" />

<!-- 编辑商品品牌表单 -->
<form class="layui-form" id="editProductBrand" lay-filter="editProductBrand" style="display: none; padding: 30px;">
  <div class="layui-form-item">
    <label class="layui-form-label">品牌名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">品牌图标</label>
    <div class="layui-input-block">
      <input type="text" name="icon" placeholder="请上传" autocomplete="off" class="layui-input">
    </div>
  </div>
  <input type="hidden" name="id" autocomplete="off" class="layui-input">
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="brandEditSave">保存</button>
    </div>
  </div>
</form>

<!-- 添加商品品牌表单 -->
<form class="layui-form" id="addProductBrand" lay-filter="addProductBrand" style="display: none; padding: 30px;">
  <div class="layui-form-item">
    <label class="layui-form-label">账号</label>
    <div class="layui-input-block">
      <input type="text" name="account" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="name" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-block">
      <input type="password" name="password" placeholder="请输入" required lay-verify="required" autocomplete="off"
        class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <input type="radio" name="status" value="1" title="正常" required checked>
      <input type="radio" name="status" value="0" title="禁用"  required>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="brandAddSave">保存</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>